@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

:root {
  --Color-whitee: hsl(0, 0%, 100%);
  --Light-gray: hsl(212, 45%, 89%);
  --Grayish-blue: hsl(220, 15%, 55%);
  --Dark-blue: hsl(218, 44%, 22%);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--Light-gray);
}
.container-content {
  width: 20%;
  padding: 1rem;
  background-color: var(--Color-whitee);
  border-radius: 0.5rem;
  text-align: center;
}
.container-content img {
  max-width: 100%;
  height: auto;
  border-radius: 0.5rem;
}

.container-content h3 {
  font-weight: bolder;
  color: var(--Dark-blue);
  width: 95%;
  margin: auto;
  padding: 1rem 0;
}

.container-content p {
  color: var(--Grayish-blue);
  font-size: 0.8rem;
  width: 93%;
  margin: auto;
  padding-bottom: 0.8rem;
}
